/* This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree . */
/* line 19, ../../app/assets/stylesheets/application.css.sass */
html, body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  width: 100%;
  -height: 100%;
  color: #111111;
  font-size: 30px;
  font-family: "Open Sans", sans-serif;
}

/* line 30, ../../app/assets/stylesheets/application.css.sass */
body {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #998866), color-stop(100%, #667766));
  background-image: -webkit-linear-gradient(#998866, #667766);
  background-image: -moz-linear-gradient(#998866, #667766);
  background-image: -o-linear-gradient(#998866, #667766);
  background-image: -ms-linear-gradient(#998866, #667766);
  background-image: linear-gradient(#998866, #667766);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

/* line 35, ../../app/assets/stylesheets/application.css.sass */
a {
  text-decoration: none;
}

/* line 38, ../../app/assets/stylesheets/application.css.sass */
a:link {
  color: #6d0a00;
}

/* line 41, ../../app/assets/stylesheets/application.css.sass */
a:visited {
  color: #6d3d00;
}

/* line 44, ../../app/assets/stylesheets/application.css.sass */
a:hover {
  color: #a00f00;
}

/* line 47, ../../app/assets/stylesheets/application.css.sass */
a:active {
  color: #3a0500;
}

/* line 50, ../../app/assets/stylesheets/application.css.sass */
.wrapper {
  width: 55%;
  margin: 15% auto 20px;
}

/* line 54, ../../app/assets/stylesheets/application.css.sass */
.teaser {
  text-align: center;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}

/* line 62, ../../app/assets/stylesheets/application.css.sass */
h1 {
  font-size: 2.5em;
  font-weight: 600;
  margin: 10px auto;
  -o-user-select: none;
  user-select: none;
}

/* line 69, ../../app/assets/stylesheets/application.css.sass */
footer {
  text-align: center;
}

/* line 72, ../../app/assets/stylesheets/application.css.sass */
.ribbon {
  box-sizing: border-box;
  -box-shadow: inset 0px 0px 100px #ff8e84;
  width: 100%;
  height: 100px;
}

/* line 79, ../../app/assets/stylesheets/application.css.sass */
.logo {
  background: red;
  box-sizing: border-box;
  width: 260px;
  height: 75px;
  padding: 10px auto;
  font-size: 3em;
  text-align: center;
  font-weight: bold;
  font-family: FreeSans, Sans-Serif;
  color: white;
}
